/* 
    Document   : style
    Created on : Oct 10, 2014, 5:26:12 PM
    Author     : songkang
    Description:
        Purpose of the stylesheet follows.
*/

/*
public style
*/
 

.tags a{
    display: block;
    padding:5px 10px;
    float: left;
    font-size:20px;
}
a{
    
}
a:hover{
    color:green;
    font-weight: bold;
 
    text-decoration:none;
}
